<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- 공통헤드 -->
	<head th:replace="layout/fragments/basic/head :: headFragment">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Risk Management System</title>
	</head>
	
<body class="pace-done">
	<div id="wrapper">
	
		<div th:replace="layout/fragments/left :: leftFragment"></div>
	
		<div th:replace="layout/fragments/header :: headerFragment"></div>
		
		<div id="rightcolumn">
        	<th:block layout:fragment="customContent"></th:block>
        </div>
	
		<!-- footer  -->
		<div th:replace="layout/fragments/footer :: footerFragment"></div>
		 
	</div><!-- wrapper ed -->
</body>
</html>