<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <th:block layout:fragment="title"><title>Risk Management System</title></th:block>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/common.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    
    <script th:src="@{js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{js/accordion.js}"></script>
    
    <!-- 
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
     -->
</head>
</html>