<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <th:block layout:fragment="title"><title>Risk Management System</title></th:block>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/images/nanuriit.png}" type="image/x-icon">
    
    <!-- css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/reset.css}"/>
    <link rel="stylesheet" th:href="@{css/common.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    
    <link rel="stylesheet" th:href="@{css/plugins/daterangepicker/daterangepicker.css}"/>
    
    <!-- script -->
    <script th:src="@{js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <script th:src="@{js/accordion.js}"></script>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/moment.min.js}"></script>
    
    <script th:src="@{js/plugins/daterangepicker/daterangepicker.min.js}"></script>
    
    
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
</html>