<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 좌측 네비 st -->
<th:block th:fragment="leftFragment"><!--  class="navbar-static-side border-right white-bg" role="navigation"> -->
	<div class="sidenav">
		<div class="aside_list_wrap accordion_container">
			<!--<div class="aside_list_box">
						<a class="aside_list_title" href="#">1depth</a>
					</div>-->
			<div class="aside_list_box">
				<div class="accordion_section">
					<div>
						<a class="aside_list_title" href="#">심사정보</a>
					</div>
					<button class="accordion_open"></button>
					<div class="accordion_content">
						<div class="aside_product_list">
							<a th:href="@{/AS03210S}">IB/PI안건 심사요청</a>
						</div>
						<div class="aside_product_list">
							<a th:href="@{/AS03010S}">심사안건조회 및 배정</a>
						</div>
						<div class="aside_product_list">
							<a th:href="@{/AS03110S}">심사배정안건조회</a>
						</div>
					</div>
				</div>
			</div>
			<div class="aside_list_box">
				<div class="accordion_section">
					<div>
						<a class="aside_list_title" href="#">심사협의체</a>
					</div>
					<button class="accordion_open"></button>
					<div class="accordion_content">
						<div class="aside_product_list">
							<a href="#">협의체부의 및 결과</a>
						</div>
						<div class="aside_product_list">
							<a href="#">협의체 사전준비</a>
						</div>
						<div class="aside_product_list">
							<a href="#">협의체 결과</a>
						</div>
						<div class="aside_product_list">
							<a href="#">협의체 회의자료</a>
						</div>
					</div>
				</div>
			</div>
			<div class="aside_list_box">
				<div class="accordion_section">
					<div>
						<a class="aside_list_title" href="#">안건관리</a>
					</div>
					<button class="accordion_open"></button>
					<div class="accordion_content">
						<div class="aside_product_list">
							<a href="#">안건 진행정보관리</a>
						</div>
					</div>
				</div>
			</div>
			<div class="aside_list_box">
				<div class="accordion_section">
					<div>
						<a class="aside_list_title" href="#">IT관리자</a>
					</div>
					<button class="accordion_open"></button>
					<div class="accordion_content">
						<div class="aside_product_list">
							<a th:href="@{/AC01010S}">공통코드관리</a>
							<a th:href="@{/AC01110S}">사용자관리</a>
							<a th:href="@{/AC01210S}">권한별메뉴관리</a>
							<a th:href="@{/AC01310S}">메뉴별권한관리</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<!-- 좌측 네비 ed -->
<!-- 우측 네비 st -->
<!-- <nav th:fragment="leftFragment" class="navbar-static-side border-right white-bg" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="logo-wrap border-bottom">
					<div class="profile-element">
						<a th:href="@{/dshbr/getMain.do}"><h1 class="logo">Senior Care</h1></a>
					</div>
				<div class="logo-element  p-0">
					<h1 class="logo">SC</h1>
				</div>
				</li>
					<li th:classappend="${#httpServletRequest.requestURI.contains('/dshbr/getMain.do')}?'active':''">
						<a th:href="@{/dshbr/getMain.do}">
							<i class="bi bi-display"></i>
							<span class="nav-label">응급상황판</span>
						</a>
					</li>
					<li th:classappend="${#httpServletRequest.requestURI.contains('/mmbr/trgtInqry.do')}?'active':''">
						<a th:href="@{/mmbr/trgtInqry.do}">
							<i class="bi bi-person-fill"></i>
							<span class="nav-label">회원관리</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="bi bi-info-circle"></i>
							<span class="nav-label">정보관리 ></span>
						</a>
						<ul class="nav nav-second-level collapse" th:classappend="${#httpServletRequest.requestURI.contains('/infrm')}?'in':''">
							<li th:classappend="${#httpServletRequest.requestURI.contains('/infrm/getCmprhInfrm.do')}?'active':''"><a th:href="@{/infrm/getCmprhInfrm.do}">- 종합정보</a></li>
							<li th:classappend="${#httpServletRequest.requestURI.contains('/infrm/getAgrmnMng.do')}?'active':''"><a th:href="@{/infrm/getAgrmnMng.do}">- 동의서</a></li>
						</ul>
					</li>
					<li th:classappend="${#httpServletRequest.requestURI.contains('/alr/list.do')}?'active':''">
						<a th:href="@{/alr/list.do}">
							<i class="bi bi-alarm-fill"></i>
							<span class="nav-label">알람관리</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="bi bi-shield-check"></i>
							<span class="nav-label">중재관리 ></span>
						</a>
						<ul class="nav nav-second-level collapse" th:classappend="${#httpServletRequest.requestURI.contains('/tdysWrk')}?'in':''">
							<li th:classappend="${#httpServletRequest.requestURI.contains('/tdysWrk/getPrfmStts.do')} or ${#httpServletRequest.requestURI.contains('/tdysWrk/getPrfrmSttsMng.do')} ?'active':''"><a th:href="@{/tdysWrk/getPrfmStts.do}">- 오늘의 할 일</a></li>
							<li th:classappend="${#httpServletRequest.requestURI.contains('/tdysWrk/getAdmSch.do')} or ${#httpServletRequest.requestURI.contains('/tdysWrk/getAdmSchMng.do')} ?'active':''"><a th:href="@{/tdysWrk/getAdmSch.do}">- 일정관리</a></li>
							<li th:classappend="${#httpServletRequest.requestURI.contains('/tdysWrk/getVdCls.do')} ?'active':''"><a th:href="@{/tdysWrk/getVdCls.do}">- 실시간 화상수업</a></li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="bi bi-star-fill"></i>
							<span class="nav-label">인센티브 ></span>
						</a>
                        <ul class="nav nav-second-level collapse" th:classappend="${#httpServletRequest.requestURI.contains('/incnt')}?'in':''">
                            <li th:classappend="${#httpServletRequest.requestURI.contains('/incnt/getAcmltStts.do')} or ${#httpServletRequest.requestURI.contains('/incnt/getAcmltSttsMng.do')} ?'active':''"><a th:href="@{/incnt/getAcmltStts.do}">- 일일 목표달성 </a></li>
                            <li th:classappend="${#httpServletRequest.requestURI.contains('/incnt/getAcmltSttsCml.do')}?'active':''"><a th:href="@{/incnt/getAcmltSttsCml.do}">- 누적달성</a></li>
                        </ul>
					</li>
					<li>
						<a href="#">
							<i class="bi bi-calendar"></i>
							<span class="nav-label">이야기 마당 ></span>
						</a>
						<ul class="nav nav-second-level collapse" th:classappend="${#httpServletRequest.requestURI.contains('/stryrd')}?'in':''">
							<li th:classappend="${#httpServletRequest.requestURI.contains('/stryrd/getCmntyRcrd.do')} or ${#httpServletRequest.requestURI.contains('/stryrd/getCmntyRcrdMmbrDtl.do')} or ${#httpServletRequest.requestURI.contains('/stryrd/getCmntyRcrdDtl.do')} ?'active':''"><a th:href="@{/stryrd/getCmntyRcrd.do}">- 대상자별 기록</a></li>
							<li th:classappend="${#httpServletRequest.requestURI.contains('/stryrd/getStrYrd.do')} or ${#httpServletRequest.requestURI.contains('/stryrd/getStrYrdDtl.do')}?'active':''"><a th:href="@{/stryrd/getStrYrd.do}">- 이야기마당 목록</a></li>
						</ul>
					</li>
					<li th:classappend="${#httpServletRequest.requestURI.contains('/dvcs/getDvcsMng.do')}?'active':''">
						<a th:href="@{/dvcs/getDvcsMng.do}">
							<i class="bi bi-device-ssd-fill"></i>
							<span class="nav-label">디바이스 관리</span>
						</a>
					</li>
					<li th:classappend="${#httpServletRequest.requestURI.contains('/oprtr/getOprtrMng.do')}?'active':''">
						<a th:href="@{/oprtr/getOprtrMng.do}">
							<i class="bi bi-people-fill"></i>
							<span class="nav-label">운영자 관리</span>
						</a>
					</li>
			</ul>
		</div>
	</nav> -->
<!-- 우측 네비 ed -->

</html>