<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 좌측 네비 st -->
<th:block th:fragment="leftFragment">
	<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element" style="text-align-last: center;">
                        <img alt="image" src="images/risk-assessment-icon.png"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">Risk Assessment<br> Management System</span>
                        </a>
                    </div>
                    <div class="logo-element">
                        RM+
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-list"></i><span class="nav-label">심사정보</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{/AS03210S}">IB/PI안건 심사요청</a></li>
                        <li><a th:href="@{/AS03010S}">심사안건조회 및 배정</a></li>
                        <li><a th:href="@{/AS03110S}">심사배정안건조회</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i><span class="nav-label">심사협의체</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{/AS04010S}">협의체 부의 및 결과</a></li>
                        <li><a th:href="@{/AS04110S}">협의체 준비</a></li>
                        <li><a th:href="@{/AS04210S}">협의체 현황 및 결과조회</a></li>
                        <li><a th:href="@{/AS04220S}">협의체 의견등록</a></li>
                        <li><a th:href="@{/AS04310S}">회의자료 RAW데이터</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-list-ul"></i><span class="nav-label">안건관리</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{/AS05010S}">안건 진행정보관리</a></li>                        
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop"></i><span class="nav-label">관리자</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{/AC01010S}">공통코드관리</a></li>
                        <li><a th:href="@{/AC01110S}">사용자관리</a></li>
                        <li><a th:href="@{/AC01210S}">권한별메뉴관리</a></li>
                        <li><a th:href="@{/AC01310S}">메뉴별권한관리</a></li>
                        <li><a th:href="@{/AC01410S}">메뉴관리</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>
	
</th:block>
</html>