<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="title"><title>권한별메뉴관리</title></th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/business/AC01210S.js}"></script>
</th:block>

<!-- code.html st -->
<th:block layout:fragment="customContent">
    <div class="main_container">
        <div class="search_wrap">
            <table class="search_table search_top">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tr>
                    <th>권한명</th>
                    <td class="etc_td">
                        <input type="text">
                        <div  class="button_etc_wrap">
                            <button type="button">조회</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="contents_box">
            <div class="button_wrap">
                <button type="button">행추가</button>
                <button type="button">행삭제</button>
                <button type="button">저장</button>
            </div>
            <table class="table_header">
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 12%;">
                    <col style="width: 5%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                    <col style="width: 7%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>삭제</th>
                        <th>권한코드</th>
                        <th>권한명</th>
                        <th>권한설명</th>
                        <th>권한구분</th>
                        <th>메뉴관리</th>
                        <th>등록일자</th>
                        <th>등록자</th>
                        <th>적용여부</th>
                        <th>처리일자</th>
                        <th>처리시간</th>
                        <th>처리자</th>
                    </tr>
                </thead>
            </table>
            <div class="grid_wrap">
                <form>
                    <table>
                        <colgroup>
                            <col style="width: 5%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 12%;">
                            <col style="width: 5%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                            <col style="width: 7%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>AG10</td>
                                <td>사업부 담당자</td>
                                <td>사업부(자기부서)</td>
                                <td>
                                    <select style="width: 170px;">
                                        <option value="">해당부서</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </td>
                                <td>
                                    <button id="#">⬇︎ 상세</button>
                                </td>
                                <td>2022-07-19</td>
                                <td>SI22467</td>
                                <td><input style="width: 15px;" type="checkbox" checked></td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>AG11</td>
                                <td>사업부 부서원</td>
                                <td>사업부(자기부서)</td>
                                <td>
                                    <select style="width: 170px;">
                                        <option value="">해당부서</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </td>
                                <td>
                                    <button id="#">⬇︎ 상세</button>
                                </td>
                                <td>2022-07-19</td>
                                <td>SI22467</td>
                                <td><input style="width: 15px;" type="checkbox" checked></td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="contents_box">
            <div class="button_wrap">
                <!-- <button type="button">행추가</button>
                <button type="button">행삭제</button> -->
                <button type="button">저장</button>
            </div>
            <table class="table_header">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>메뉴명</th>
                        <th>사용자권한</th>
                        <th>메뉴레벨</th>
                        <th>사용가능여부</th>
                        <th>수정가능여부</th>
                        <th>처리일자</th>
                        <th>처리시간</th>
                        <th>처리자</th>
                    </tr>
                </thead>
            </table>
            <div class="grid_wrap">
                <form>
                    <table>
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>31</td>
                                <td>AS03210000</td>
                                <td>AG10</td>
                                <td>2</td>
                                <td><input style="width: 15px;" type="checkbox" checked></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>AS03310000</td>
                                <td>AG10</td>
                                <td>2</td>
                                <td><input style="width: 15px;" type="checkbox" checked></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <!-- code.html ed -->
</th:block>

</html>