html, body {
    width: 100%;
    height: 100%;
    background: #fff;
}
/*아코디언*/
.accordion_container {
    padding: 20px 0;
}
.accordion_container .aside_list_box .aside_list_title {
    display: inline-block;
    margin: 5px 0;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.accordion_container .accordion_section {
    position: relative;
}
.accordion_container .accordion_section .accordion_open {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 37px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.accordion_container .accordion_section .accordion_open::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 20px;
    width: 8px;
    height: 8px;
    font-weight: bold;
    border-right: 2px solid #777;
    border-bottom: 2px solid #777;
    transform: rotate(-45deg);
    transition: all 0.1s ease-in-out;
}
.accordion_container .accordion_section .accordion_open.active:after {
    top: 10px;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
}
.accordion_container .accordion_section .accordion_content {
    display: none;
    padding: 0 10px 15px;
}
.accordion_container .accordion_section .accordion_content .aside_product_list a {
    display: inline-block;
    color: #333;
    font-size: 13px;
}


table {
    table-layout: fixed;
    width: 100%;
}
table tr th,
table tr td {
    padding: 7px;
    height: 30px;
    line-height: 1.2;
    border: 1px solid #333;
    vertical-align: middle;
    font-size: 13px;
    overflow:hidden;
}
table tr th {
    background: #f0f0f0;
    font-size: 14px;
}
table tr td {
    background: #fff;
}
table tr td input,
table tr td select {
    width: 250px;
    height: 25px;
    border: 1px solid #333;
    padding: 0 0 0 3px;
}
table tr td select {
    padding: 0;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    margin-top: 5rem;
}

a {
    text-decoration: none;
}

/* 탭 */
.tab_wrap {
    width: 100%;
}

.tabs-nav ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.tabs-nav li {
    display: inline-block;
    width: 120px;
    text-align: center;
    background: #fff;
    color: #fefefe;
    border: 1px solid #333;
    border-left: none;
    border-bottom: 1px solid #333;
}
.tabs-nav li:first-child {
    border-left: 1px solid #333;
}
.tabs-nav a {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

/* Active tab */
.tabs-nav li.active {
    position: relative;
    background: #FFF;
    color: #000;
    border-bottom: none;
}
.tabs-nav li.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #333;
}

.tabs-nav li.active a {
    color: inherit;
}

/* Tab content */
.tabs-content {
    position: relative;
    border: 1px solid #34495E;
    padding: 20px;
    background: #FFF;
    margin-top: -1px;
    overflow: hidden;
}

.tabs-content IMG {
    margin-right: 10px;
}

/* Hide all but first content div */
.tabs-content .tab:not(:first-child) {
    display: none;
}

.tabs-content .tab {
    height: 580px;
    padding: 0 17px 0 0;
}