/* 협의체 부의 및 결과 CSS */
.etc_td {
    position: relative;
}
.button_etc_wrap {
    position: absolute;
    top: 8px;
    right: 5px;
}
.ibpi_table tr td input,
.ibpi_table tr td select {
    width: 205px;
}
.exams_list_wrap {
    position: absolute;
}
.exams_list_wrap1 {
    top: 20px;
    left: 20px;
}
.exams_list_wrap2 {
    top: 20px;
    left: 500px;
}
.exams_list_wrap3 {
    top: 20px;
    left: 960px;
}
.exams_list_wrap4 {
    top: 100px;
    left: 20px;
}
.exams_list_wrap5 {
    top: 100px;
    left: 370px;
}
.exams_list_wrap6 {
    top: 100px;
    left: 720px;
}
.exams_list_wrap7 {
    top: 100px;
    left: 1070px;
}
.exams_list_wrap13 .exams_list .exams_list_descT,
.exams_list_wrap14 .exams_list .exams_list_descT {
    width: 600px;
}
.exams_list_wrap13 .exams_list .exams_list_descT textarea,
.exams_list_wrap14 .exams_list .exams_list_descT textarea {
    width: 100%;
    height: 40px;
    resize: none;
}
.exams_list_wrap13 {
    top: 470px;
    left: 20px;
}
.exams_list_wrap14 {
    top: 470px;
    left: 720px;
}
.exams_list_wrap15 {
    top: 357px;
    left: 370px;
}
.exams_list_wrap16 {
    top: 357px;
    left: 370px;
}
.exams_list_wrap15 .exams_list .exams_list_title {
    width: 160px;
}
.exams_list_wrap17 .exams_list .exams_list_title {
    width: 150px;
}
.exams_list_wrap18 {
    left: 670px;
}
.content_list_caption_wrap {
    position: relative;
    padding-bottom: 7px;
}
.content_list_caption_wrap > div {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.content_list_caption_wrap .content_list_caption {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.content_list_caption_wrap .content_list_caption::after {
    content: '•';
    position: absolute;
    top: 0;
    left: 0;
}
.content_list_caption_wrapS {
    text-align: center;
}
.content_list_caption_wrap .content_list_captionS::after {
    content: none;
}
.content_list_caption_wrap .content_list_button {
    position: absolute;
    top: 0;
    right: 0;
}
.content_list_caption_wrap .content_list_button button {
    height: 30px;
    line-height: 1;
    padding: 0 3px;
}
.exams_list {
    font-size: 0;
    padding-bottom: 10px;
}
.exams_list > div {
    display: inline-block;
}
.exams_list .exams_list_title {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.exams_list  .exams_list_desc {
    width: 150px;
    vertical-align: top;
}
.exams_list  .exams_list_desc button {
    height: 25px;
    line-height: 1;
    padding: 0 3px;
}
.exams_list  .exams_list_desc select,
.exams_list  .exams_list_desc input {
    width: 300px;
    height: 25px;
}

.exams_list .exams_list_descL {
    width: 500px;
}
.exams_list  .exams_list_descL select,
.exams_list  .exams_list_descL input {
    width: 100%;
}


.exams_list  .exams_list_descS select,
.exams_list  .exams_list_descS input {
    width: 50px;
}
.exams_list  .exams_list_descS select:nth-child(2),
.exams_list  .exams_list_descS input:nth-child(2) {
    width: 55px;
}

.exams_list  .exams_list_descE select:nth-child(2),
.exams_list  .exams_list_descE input:nth-child(2) {
    width: 97px;
}

/* 달력 입력을 위한 datePicker */
.datepicker_wrap {
    position: relative;
    width: 400px;
}
.datepicker_wrap .datepicker {
    cursor: pointer;
    vertical-align: middle;
    width: 270px;
}
