<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">
	<script th:src="@{js/tab.js}"></script>
	<script th:src="@{/js/business/AS05010S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<div class="main_container">
		<div class="search_wrap">
			<table class="search_table search_top">
				<colgroup>
					<col style="width: 7%;">
					<col style="width: 22%;">
					<col>
				</colgroup>
				<tr>
					<th>deal번호</th>
					<td>
						<input type="text">
					</td>
					<td>
						<button type="button">조회</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="contents_box">
			<table class="table_header">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>deal번호</th>
						<th>안건명</th>
						<th>신규/재부의정보</th>
						<th>심사역</th>
						<th>부수안건정보</th>
					</tr>
				</thead>
			</table>
			<div class="grid_wrap grid_wrapS">
				<form>
					<table>
						<colgroup>
							<col>
							<col>
							<col>
							<col>
							<col>
						</colgroup>
						<tbody>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
								<td>5</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<div class="contents_box">
			<div class="tab_wrap">
				<div class="tabs-nav">
					<ul>
						<li class="active"><a href="#tab1">약정/기표/철회</a></li>
						<li><a href="#tab2">EXIT</a></li>
						<li><a href="#tab3">셀다운의무</a></li>
						<li><a href="#tab4">기타의무</a></li>
						<li><a href="#tab5">관리직원</a></li>
						<li><a href="#tab6">신용사건발생</a></li>
					</ul>
				</div>

				<section class="tabs-content">
					<div id="tab1" class="tab">
						<div class="contents_list_wrap contents_list_wrap19">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">약정정보</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">약정일</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">약정금액</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">체크리스트 문서번호</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap20">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">기표/인가정보</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">기표일</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">만기일</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">기표금액</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap21">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">진행구분</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">구분</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">사유</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="tab_button_wrap">
							<button>초기화</button>
							<button>삭제</button>
							<button>저장</button>
						</div>
					</div>
					<div id="tab2" class="tab">
						<div class="contents_list_wrap contents_list_wrap19">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">EXIT정보</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">EXIT날짜</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">사유</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">수신 문서번호</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="tab_button_wrap">
							<button>저장</button>
						</div>
					</div>
					<div id="tab3" class="tab">
						<div class="grid_wrap grid_wrap245 grid_harf" style="float:left; margin-right:20px;">
						aaa
						</div>
						<div class="grid_wrap grid_wrap245 grid_harf" style="float:left;">
						aaa
						</div>
					</div>
					<div id="tab4" class="tab">
						
					</div>
					<div id="tab5" class="tab">
						
					</div>
					<div id="tab6" class="tab">
						
					</div>
				</section>
			</div>
		</div>
	</div>
</th:block>
</html>