<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="customContent">
	<div class="main_container">
		<div class="search_wrap">
			<table class="search_table search_top">
				<colgroup>
					<col style="width: 7%;">
					<col style="width: 22%;">
					<col style="width: 7%;">
					<col style="width: 50%;">
				</colgroup>
				<tr>
					<th>구분</th>
					<td><select>
							<option value="1">1</option>
							<option value="1">2</option>
							<option value="1">3</option>
					</select>
						<button type="button">조회</button></td>
					<th>Deal 번호</th>
					<td class="etc_td"><input type="text">
						<button type="button">조회</button>
						<button type="button">DSC안건가져오기</button>
						<div class="button_etc_wrap">
							<button type="button">조회</button>
							<button type="button">심사요청</button>
							<button type="button">심사요청취소</button>
							<button type="button">심사보류</button>
						</div></td>
				</tr>
			</table>
		</div>
		<!-- contents_box -->
		<div class="contents_box">
			<table class="table_header">
				<colgroup>
					<col style="width: 5%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 5%;">
					<col style="width: 7%;">
					<col style="width: 7%;">
				</colgroup>
				<thead>
					<tr>
						<th>삭제</th>
						<th>그룹코드</th>
						<th>그룹명</th>
						<th>코드성격</th>
						<th>코드길이</th>
						<th>코드관리</th>
					</tr>
				</thead>
			</table>
			<div class="grid_wrap grid_wrapS">
				<form>
					<table>
						<colgroup>
							<col style="width: 5%;">
							<col style="width: 15%;">
							<col style="width: 15%;">
							<col style="width: 5%;">
							<col style="width: 7%;">
							<col style="width: 7%;">
						</colgroup>
						<tbody>
							<tr>
								<td>1</td>
								<td>수신계좌조회구분코드</td>
								<td>DPS_ACCO_IQRY_DIV</td>
								<td>1</td>
								<td>Field</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div><!-- end of contents_box -->
		<!-- contents_box -->
		<div class="contents_box">
			<div class="tab_wrap">
				<div class="tabs-nav">
					<ul>
						<li class="active"><a href="#tab1">안건구조</a></li>
						<li><a href="#tab2">관련문서</a></li>
						<li><a href="#tab3">(보증)기초자산</a></li>
						<li><a href="#tab4">거래상대방</a></li>
						<li><a href="#tab5">내부등급</a></li>
						<li><a href="#tab6">담보</a></li>
						<li><a href="#tab7">보증</a></li>
						<li><a href="#tab8">책임준공</a></li>
					</ul>
				</div>

				<section class="tabs-content">
					<div id="tab1" class="tab">
						<div class="contents_list_wrap contents_list_wrap1">
							<div class="contents_list">
								<div class="contents_list_title">신규재부의</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">신규재부의</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap2">
							<div class="contents_list">
								<div class="contents_list_title">안건명</div>
								<div class="contents_list_desc contents_list_descL">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">약어명</div>
								<div class="contents_list_desc contents_list_descL">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap3">
							<div class="contents_list">
								<div class="contents_list_title">전결구분</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">리스크승인번호</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap4">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">투자형태</div>
								<div class="content_list_button">
									<button>금융상품분류찾기</button>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">심사부서구분</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">구분1</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">구분2</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">구분3</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">금융상품분류</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap5">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">부의금액(국가/통화)</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">부의기준통화</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">부의금액</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">투자국가</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">적용환율</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">부의금액(원)</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap6">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">투자분류</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">고위험산업</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">업무구분</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">사업지역</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">주요투자물건</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">투자물건상세</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap7">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">담당직원</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">본부</div>
								<div
									class="contents_list_desc contents_list_descS contents_list_descE">
									<input type="text"> <input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">부서</div>
								<div
									class="contents_list_desc contents_list_descS contents_list_descE">
									<input type="text"> <input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">직원</div>
								<div class="contents_list_desc contents_list_descS">
									<input type="text"> <input type="text">
									<button>찾기</button>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap8">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">주관형태</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">협업유형</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap9">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">투자기간</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">투자기간(개월)</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">기표일</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">구분2</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap10">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">투자수익(원)</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">전체수익</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">수수료수익</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">투자수익</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap11">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">채권보전</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">담보</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">보증</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">책임준공</div>
								<div class="contents_list_desc">
									<select>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap12">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">업체정보</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_title">업체명</div>
								<div class="contents_list_desc">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap13">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">사업부 의견</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_desc contents_list_descT">
									<textarea></textarea>
								</div>
							</div>
						</div>
						<div class="contents_list_wrap contents_list_wrap14">
							<div class="content_list_caption_wrap">
								<div class="content_list_caption">심사부 의견</div>
							</div>
							<div class="contents_list">
								<div class="contents_list_desc contents_list_descT">
									<textarea></textarea>
								</div>
							</div>
						</div>
						<div class="tab_button_wrap">
							<button>초기화</button>
							<button>저장</button>
						</div>
					</div>
					<div id="tab2" class="tab">2</div>
					<div id="tab3" class="tab">3</div>
					<div id="tab4" class="tab">4</div>
					<div id="tab5" class="tab">5</div>
					<div id="tab6" class="tab">6</div>
					<div id="tab7" class="tab">7</div>
					<div id="tab8" class="tab">8</div>
				</section>
			</div>
		</div><!-- end of contents_box -->
	</div>
</th:block>
</html>