<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="modal">
	<!-- modal -->
	<div id="modal" class="modal_wrap">
		<div class="modal_content">
			<span class="modal_close">&times;</span>
			<div class="wrap">
				<div class="main">
					<main>
						<div class="main_wrap">
							<div class="main_container">
								<div class="search_wrap">
									<table class="search_table search_top">
										<colgroup>
											<col style="width: 10%;">
											<col style="width: 15%;">
											<col style="width: 10%;">
											<col style="width: 15%;">
											<col style="width: 10%;">
											<col style="width: 40%;">
										</colgroup>
										<tr>
											<th>Deal번호</th>
											<td><input type="text"></td>
											<th>Deal명</th>
											<td><input type="text"></td>
											<th>DSC일자</th>
											<td class="etc_td"><input type="text">
												<div class="button_etc_wrap">
													<button type="button">조회</button>
												</div></td>
										</tr>
									</table>
								</div><!-- end of search_wrap -->
								<div class="contents_box">
									<table class="table_header">
										<colgroup>
											<col style="width: 5%;">
											<col style="width: 15%;">
											<col style="width: 15%;">
											<col style="width: 5%;">
											<col style="width: 7%;">
											<col style="width: 7%;">
										</colgroup>
										<thead>
											<tr>
												<th>삭제</th>
												<th>그룹코드</th>
												<th>그룹명</th>
												<th>코드성격</th>
												<th>코드길이</th>
												<th>코드관리</th>
											</tr>
										</thead>
									</table>
									<div class="grid_wrap grid_wrapS">
										<form>
											<table>
												<colgroup>
													<col style="width: 5%;">
													<col style="width: 15%;">
													<col style="width: 15%;">
													<col style="width: 5%;">
													<col style="width: 7%;">
													<col style="width: 7%;">
												</colgroup>
												<tbody>
													<tr>
														<td>1</td>
														<td>수신계좌조회구분코드</td>
														<td>DPS_ACCO_IQRY_DIV</td>
														<td>1</td>
														<td>Field</td>
														<td>0</td>
													</tr>
												</tbody>
											</table>
										</form>
									</div>
								</div><!-- end of contents_box -->
							</div><!-- end of main container -->
						</div><!-- end of main_wrap -->
					</main>
				</div><!-- end of main -->
			</div><!-- end of wrap -->
		</div><!-- end of modal_content -->
	</div><!-- end of modal -->
	<!-- modal -->
</th:block>
</html>