<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}"/>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/as/AS04110S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 상단 타이틀 -->
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>[04110]협의체 사전준비</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">심사협의체</a>
                </li>
                <li class="breadcrumb-item">
                    <strong>협의체 사전준비</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    
    <!-- 내용 -->
    <div class="wrapper wrapper-content animated fadeIn">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="white-bg border-bottom dashboard-header">
    				<form method="get">
    					<div class="form-group form-inline row">
                            <div class="col-sm-2 input-group">
	                            <label class="control-label px-2">전결협의체</label>
	                           	<select class="form-control m-b" name="account">
	                                   <option>option 1</option>
	                                   <option>option 2</option>
	                            </select>
                            </div>
                            <div class="col-sm-2 input-group">
                           		<label class="control-label px-2">결의년도</label>
                           		<input type="text" class="touchspin" value="2022" data-bts-min="2010" data-bts-max="2100">
                            </div>
                            <div class="col-sm-1 input-group">
                           		<label class="control-label px-2">회차</label>
                           		<input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4 input-group">
                            	<label class="control-label">결의일</label>
                            	<span class="col-sm-5 input-group date">
                                   	<input type="text" class="form-control" name="start" value="" ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                               	</span>
                            </div>
							<div class="col-sm-3 text-right">		                       		
	                       		<button class="btn btn-primary" type="submit">조회</button>
	                       		<button class="btn btn-default" type="submit">초기화</button>		                       		
	                       		<button class="btn btn-info" type="submit">임시저장</button>
	                       		<button class="btn btn-success" type="submit">준비확정</button>
	                       		<button class="btn btn-danger" type="submit">준비취소</button>
	                       	</div>
                       	</div>
	   				</form>
	   			</div>
	   		</div>
	   		<div class="col-lg-12">
    			<div class="white-bg dashboard-header">
	   				<div class="col-sm-12">
		   				<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>기본정보</h5>
		   					</div>
		    				<div class="ibox-content">
			    				<div class="form-group form-inline row">
			    					<div class="col-sm-3 input-group">
			                            <label class="control-label px-2">전결협의체</label>
			                           	<select class="form-control m-b" name="account">
			                                   <option>option 1</option>
			                                   <option>option 2</option>
			                            </select>
		                            </div>
			    					<div class="col-sm-1 input-group">
		                           		<label class="control-label px-2">회차</label>
		                           		<input type="text" class="form-control">
		                            </div>
		                            <div class="col-sm-2 input-group">
		                            	<label class="col-form-label px-2">결의일</label>
		                                <input type="text" class="form-control" value="" >
		                            </div>
		                            <div class="col-sm-1 input-group">
		                            	<label class="col-form-label px-2">시간</label>
		                                <input type="text" class="form-control" value="" >
		                            </div>
			    				</div>
			    			</div>
		   				</div>
		   			</div>
		   			<div class="col-sm-6">
		   				<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>위원정보</h5>
		   						<div class="ibox-tools">		                       		
		                       		<button class="btn btn-default btn-xs" type="submit">행추가</button>
		                       		<button class="btn btn-default btn-xs" type="submit">행삭제</button>
		                       	</div>
		   					</div>
		    				<div class="ibox-content">
			    				<table class="table table-bordered">
									<thead>
										<tr>
											<th></th>
											<th>위원구분</th>
											<th>위원명</th>
											<th>대리참석위원</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
										</tr>
									</tbody>
								</table>
			    			</div>
		   				</div>
		   			</div>
		   			<div class="col-sm-12">
		   				<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>안건</h5>
		   						<div class="ibox-tools">		                       		
		                       		<button class="btn btn-default btn-xs" type="submit">안건추가</button>
		                       		<button class="btn btn-default btn-xs" type="submit">안건삭제</button>
		                       		<button class="btn btn-success btn-xs" type="submit">확정쪽지</button>
	                       			<button class="btn btn-danger btn-xs" type="submit">취소쪽지</button>
		                       	</div>
		   					</div>
		    				<div class="ibox-content">
			    				<table class="table table-bordered">
									<thead>
										<tr>
											<th></th>
											<th>순서정보</th>
											<th>안건명</th>
											<th>신규/재부의정보</th>
											<th>부수안건정보</th>
											<th>부서</th>
											<th>직원</th>
											<th>심사역</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
										</tr>
									</tbody>
								</table>
			    			</div>
		   				</div>
		   			</div>
    			</div>
    		</div>
    	</div><!-- row -->
    </div>
</th:block>

</html>
