<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}"/>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/popup/AC01120P.js}"></script>
	<script th:src="@{js/business/as/AS04210S.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/popup/AC01120P :: AC01120P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 상단 타이틀 -->
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>[04210]협의체 현황 및 결과조회</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">심사협의체</a>
                </li>
                <li class="breadcrumb-item">
                    <strong>협의체 현황 및 결과조회</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    
    <!-- 내용 -->
    <div class="wrapper wrapper-content animated fadeIn">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="white-bg border-bottom dashboard-header">
    				<form method="get">
	   					<div class="form-group row form-inline">
	   						<div class="col-sm-3 input-group">
	                            <label class="control-label px-2">결의협의체</label>
	                           	<select class="form-control m-b" name="account">
	                                   <option>option 1</option>
	                                   <option>option 2</option>
	                            </select>
                            </div>
                            <div class="col-sm-2 input-group">
                           		<label class="control-label px-2">결의년도</label>
                           		<input type="text" class="touchspin" value="2022" data-bts-min="2010" data-bts-max="2100">
                            </div>
                            <div class="col-sm-1 input-group">
                           		<label class="control-label px-2">회차</label>
                           		<input type="text" class="form-control">
                            </div>
                            <div class="col-sm-2 input-group">
                            	<label class="control-label">결의일</label>
                            	<span class="col-sm-10 input-group date">
                                   	<input type="text" class="form-control" name="start" value="" ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                               	</span>
                            </div>
                            
                            <div class="col-sm-3 input-group">
                            	<input type="checkbox" class="" id="">
	                       		<label class="control-label px-2">전체(종료건포함)</label>
								<button class="btn btn-primary" type="submit">조회</button>
	                       	</div>
							<div class="col-sm-1 text-right">
								<button class="btn btn-warning" type="submit">쪽지발송</button>	
	                       	</div>
	                       	<div class="col-sm-3 input-group text-right">
                            	<label class="col-sm-2 control-label">위원</label>
	                            <div class="col-sm-10">
	                            	<div class="input-group">
	                            		<input type="text" class="form-control" style="width:20px;" id="acdnt_eno" name="acdnt_eno">
	                            		&nbsp;
	                            		<input type="text" class="form-control" style="width:80px;" id="acdnt_empNm" name="acdnt_empNm" readonly>
	                            		<span class="input-group-append">
	                                        <button type="button" class="btn btn-default" onclick="callAC01120P('acdnt')"><i class="fa fa-search"></i></button>
	                                    </span>
	                            	</div>
	                            </div>
                            </div>
	   					</div>
	   				</form>
    			</div>
    		</div>
    		<div class="col-lg-12">
    			<div class="white-bg dashboard-header">
    				<div class="col-sm-12">
    					<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>안건</h5>
		   						<div class="ibox-tools">		                       		
		                       		<button class="btn btn-danger btn-xs" type="submit">안건제외</button>
		                       	</div>
		   					</div>
		    				<div class="ibox-content">
			    				<table class="table table-bordered">
			    					<colgroup>
					                    <col style="width: 3%;">
					                    <col style="width: 12%;">
					                    <col style="width: 5%;">
					                    <col style="width: 5%;">
					                    <col style="width: 20%;">
					                    <col style="width: 4%;">
					                    <col style="width: 10%;">
					                    <col style="width: 6%;">
					                    <col style="width: 5%;">
					                    <col style="width: 8%;">
					                    <col style="width: 7%;">
					                    <col style="width: 7%;">
					                    <col style="width: 8%;">
					                </colgroup>
									<thead>
										<tr>
											<th></th>
											<th>결의협의체</th>
											<th>회차</th>
											<th>안건번호</th>
											<th>안건명</th>
											<th>통화</th>
											<th>참여금액</th>
											<th>결의일자</th>
											<th>결의시간</th>
											<th>부서</th>
											<th>직원</th>
											<th>심사역</th>
											<th>진행상태</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="checkbox"></td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
											<td>10</td>
											<td>11</td>
											<td>12</td>
											<td>13</td>
										</tr>
									</tbody>
								</table>
			    			</div>
		   				</div>
    				</div>
    				<div class="col-sm-12">
    					<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>의결내용</h5>
		   						<div class="ibox-tools">		                       		
		                       		<button class="btn btn-success btn-xs" type="submit">확정</button>
		                       		<button class="btn btn-danger btn-xs" type="submit">확정취소</button>
		                       	</div>
		   					</div>
		    				<div class="ibox-content">
			    				<table class="table table-bordered">
			    					<colgroup>
					                    <col style="width: 3%;">
					                    <col style="width: 6%;">
					                    <col style="width: 6%;">
					                    <col style="width: 6%;">
					                    <col style="width: 6%;">
					                    <col style="width: 5%;">
					                    <col style="width: 8%;">
					                    <col style="width: 40%;">
					                    <col style="width: 7%;">
					                    <col style="width: 6%;">
					                    <col style="width: 7%;">
					                </colgroup>
									<thead>
										<tr>
											<th rowspan="2"><input type="checkbox"></th>
											<th colspan="2">참석위원</th>
											<th colspan="2">대리참석자</th>
											<th rowspan="2">참석여부</th>
											<th rowspan="2">의결</th>
											<th rowspan="2">심의의견</th>
											<th rowspan="2">등록년월일</th>
											<th colspan="2">회의록확인</th>
										</tr>
										<tr>
											<th>직원번호</th>
											<th>성명</th>
											<th>직원번호</th>
											<th>성명</th>
											<th>확인자</th>
											<th>확인일시</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="checkbox"></td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
											<td>10</td>
											<td>11</td>
										</tr>
									</tbody>
								</table>
			    			</div>
		   				</div>
    				</div>
    				<div class="col-sm-12">
    					<div class="ibox ">
		   					<div class="ibox-title">
		   						<h5>협의결과</h5>
		   					</div>
		    				<div class="ibox-content">
			    				<table class="table table-bordered">
			    					<colgroup>
					                    <col style="width: 35%;">
					                    <col style="width: 7%;">
					                    <col style="width: 5%;">
					                    <col style="width: 13%;">
					                    <col style="width: 7%;">
					                    <col style="width: 13%;">
					                    <col style="width: 5%;">
					                    <col style="width: 5%;">
					                    <col style="width: 10%;">
					                </colgroup>
									<thead>
										<tr>
											<th rowspan="2">안건명</th>
											<th rowspan="2">신규/재부의</th>
											<th rowspan="2">통화</th>
											<th rowspan="2">참여금액</th>
											<th rowspan="2">결의결과</th>
											<th rowspan="2">승인금액</th>
											<th colspan="2">승인조건</th>
											<th rowspan="2">리스트승인번호</th>
										</tr>
										<tr>
											<th>셀다운</th>
											<th>기타</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
										</tr>
									</tbody>
								</table>
								<div class="col-sm-12 pb-2 text-right">
									<button class="btn btn-success btn-xs" type="submit">확정</button>
		                       		<button class="btn btn-danger btn-xs" type="submit">확정취소</button>
								</div>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group row">
												<div class="col-sm-6 input-group">
													<label class="control-label px-2">결의결과</label>
					                            	<input type="text" class="form-control">
												</div>
												<div class="col-sm-6 input-group form-inline">
													<label class="control-label px-2">승인금액</label>
													<input type="text" class="form-control" >
													&nbsp;
					                            	<input type="text" class="form-control" style="width:120px;" onkeyup="inputNumberFormat(this);">
												</div>
												<div class="col-sm-6 input-group py-2">
													<label class="control-label px-2">승인조건<br>(셀다운)</label>
					                            	<input type="text" class="form-control">
												</div>
												<div class="col-sm-6 input-group py-2">
													<label class="control-label px-2">승인조건<br>(기타)</label>
					                            	<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-sm-3 input-group">
											<label class="control-label px-2">부의조건</label>
				                            <textarea class="form-control" style="height:80px;" id=""></textarea>
										</div>
										<div class="col-sm-3 input-group">
											<label class="control-label px-2">결의의견</label>
				                            <textarea class="form-control" style="height:80px;" id=""></textarea>
										</div>
									</div>
								</div>
			    			</div>
		   				</div>
    				</div>
    				<div class="col-sm-12">
    					<div class="ibox ">
    						<div class="ibox-title">
		   						<h5>협의결과자료</h5>
		   					</div>
		   					<div class="ibox-content form-inline py-2">
		   						 <div class="col-sm-4 input-group">
		   						 	<label class="control-label px-2">회의록</label>
			   						<div class="custom-file">
								         <input id="inputGroupFile01" type="file" class="custom-file-input">
								         <label class="custom-file-label" for="inputGroupFile01">회의록 추가</label>
								     </div>
								 </div>
								 <div class="col-sm-2">
								 	<button class="btn btn-info btn-xs" type="button">열기</button>
		                       		<button class="btn btn-danger btn-xs" type="button">삭제</button>
		                       		<button class="btn btn-warning btn-xs" type="button">확정쪽지</button>
								 </div>
		   					</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div><!-- row -->
    </div>
</th:block>

</html>